.p-sobrenosotros {
    padding: 50px;
    display: flex;
    justify-content: center;
}


.fuentes {
    display: block;
}

h3 {
    display: block;
    color: white;
    text-align: center;
}

.fuente1 {
    display: block;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.parrafos {
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    color: black;
    border-radius: 10px;
    display: grid;

}

.coderhouse {
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.fuente1 {
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
}