.p-sobrenosotros {
    height: 90%;
    padding: 30px;
    display:inline-flex;
    justify-self: center;
    text-align: center;
    padding: 10px;

}


.fuentes {
    display: block;
}

h3 {
    display: block;
    color: white;
    text-align: center;
    padding: 50px;
}

.fuente1 {
    display: block;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.parrafos {
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    color: black;
    border-radius: 10px;
}

.coderhouse {
    text-align: center;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.fuente1 {
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid black;
}